/* TOP NAV
-------------------------------------------------------------*/
header h1 {
    font-family: 'Big Shoulders Inline Text', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: auto;
    color: rgb(255, 47, 131);
}

#links {
    text-align: center;
    margin-bottom: 2%;
}

#links ul {
    padding: 0;
    margin: 0;
    display: inline;
    list-style-type: none;
    font-size: 40px;
}

#links li {
    display: inline;
    padding: 15px;
}

#links li a {
    display: inline;
    padding: 3;
    font-family: 'Big Shoulders Inline Text', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: rgb(88, 29, 222);
}

#links li a:hover {
    color: rgb(255, 47, 131);
}

/* MAIN BODY
-------------------------------------------------------------*/
body {
    font-size: 14pt;
    font-family: Cambria, sans-serif;
    background-color: rgb(4, 0, 10);
}

/* INNER SECTION
-------------------------------------------------------------*/

#middle {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 10%;
    background-color: rgb(28, 15, 64);
    color: rgb(88, 29, 222);
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 25px;
    border-radius: 20px;
}

#middle h2 {
    margin: 0%;
    padding: 0%;
    font-family: 'Big Shoulders Inline Text', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: rgb(255, 47, 131);
}

#middle b {
    color: rgb(255, 47, 131);
}

/* GALLERY STYLING
-------------------------------------------------------------*/
.gallery {
    padding: 0;
}

.gallery img {
    max-width: 85%;
    padding: 10px;
    display: inline-block;
}

/* REFERENCE LINK ICONS
-------------------------------------------------------------*/
.makai {
    max-width: 40%;
    display: inline-block;
}

.makai a:hover {
    opacity: 50%;
}

/* OUT LINK ICONS
-------------------------------------------------------------*/
.out_link {
    padding: 10px;
    display: inline;
}

.out_link a:hover {
    opacity: 50%;
}

/* media queries.. 
-------------------------------------------------------------*/
@media screen and (max-width:450px) {
    header h1 {
        font-family: 'Big Shoulders Inline Text', sans-serif;
        text-align: center;
        font-weight: 800;
        font-size: 3em;
        margin-top: 20px;
        margin-bottom: auto;
        color: rgb(255, 47, 131);
    }

    #middle h2 {
        margin: 0%;
        padding: 0%;
        font-family: 'Big Shoulders Inline Text', sans-serif;
        font-weight: 800;
        font-size: 50px;
        color: rgb(255, 47, 131);
    }

    .out_link img {
        width: 100px;
    }

    .makai {
        max-width: 70%;
    }
}